.sidebar {
    min-width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    z-index: 2;
    overflow-y: auto;
}

.sidebar__logo {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar__logo>img {
    height: 45px;
}

.sidebar__item {
    padding: 0 30px;
}

.sidebar__item-inner {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    font-weight: 600;
    transition: color 0.3s ease 0s;
}

.sidebar__item-inner>span {
    margin-right: 16px;
    font-size: 1.5rem;
}

.sidebar__item-inner:hover {
    color: var(--main-color);
    /* color: #3d685e;
    background-color: #dee4e2;
    border-radius: 24px; */
}

.sidebar__item-inner.active {
    border-radius: var(--border-radius);
    background-image: linear-gradient(to right,
            var(--main-color),
            var(--second-color));
    color: var(--txt-white);
}

.sidebar__item-dropdown {
    padding: 0px 16px;
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    transition: color 0.3s ease 0s;
}

.sidebar__dropdownitem {
    padding: 8px 20px;
    padding-left: 4rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}