:root {
  --primary: #3d685e;
  --primary-container: #6750a4;
  --primary-on-container: #093830;
  --border-variant: rgba(115, 130, 126, 0.6);
  --white: #f9f9f9;
  --warning: #ffd028;
  --danger: #eb3f27;
  --success: #74fa83;
  --border: #79747e;
}

/* DEFAULT */
.btn {
  font-style: normal;
  font-size: 16px;
  display: flex;
  letter-spacing: 0.03em;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;
  height: 44px;
  background: var(--primary);
  color: var(--white);
  border-radius: 22px;
}

/* STYLES */
.btn--primary--fill {
  
}

.btn--primary--fill:hover {
  
}

.btn--primary--fill:active {
  
}

.btn--primary--outline {
  background-color: transparent;
  color: var(--primary);
  border: solid 1px var(--border-variant);
}

.btn--primary--text  {

}

.btn--primary--elevate  {

}

.btn--primary--tonal  {

}
/* SIZES */
.btn--medium {
  
}

.btn--large {}

/* ICONS */
.btn--icon--false {}

.btn--icon--true {}