:root {
  --primary: #3d685e;
  --primary-container: #6750a4;
  --primary-on-container: #093830;
  --outline: #79747e;
  --outline-variant: rgba(115, 130, 126, 0.6);
  --white: #f9f9f9;
  --tertiary: #384954;
  --tertiary-container: #c6dff0;
  --tertiary-on-container: #1b2d39;
  --warning: #ffd028;
  --danger: #eb3f27;
  --danger-cont: #feecf0;
  --success: #74fa83;
}

/* DEFAULT */
.btn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  color: var(--white);
  border-radius: 6rem;
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  /* identical to box height, or 125% */
  letter-spacing: 0.03em;
}

/* STYLES */
/* filled */
.btn-fill {
  background-color: var(--primary);
  color: var(--white);
}

.btn-fill:hover {
  border-radius: 0.75rem;
  box-shadow: 0px 6px 10px 3px rgba(96, 119, 114, 0.15),
    0px 2px 3px rgba(101, 94, 112, 0.3);
}

.btn-fill:active {
  background-color: #548076;
  border-radius: 2rem;
  box-shadow: 0px 1px 2px rgba(96, 119, 114, 0.15),
    0px 1px 3px 1px rgba(101, 94, 112, 0.15);
}
/* tertiary */
.btn-tertiary {
  background-color: var(--tertiary);
}

.btn-tertiary:hover {
  border-radius: 0.75rem;
  box-shadow: 0px 6px 10px 3px rgba(96, 119, 114, 0.15),
    0px 2px 3px rgba(101, 94, 112, 0.3);
}

.btn-tertiary:active {
  background-color: #546773;
  border-radius: 2rem;
  box-shadow: 0px 1px 2px rgba(96, 119, 114, 0.15),
    0px 1px 3px 1px rgba(101, 94, 112, 0.15);
}

/* outlined */
.btn-outline {
  box-sizing: border-box;
  background-color: transparent;
  color: var(--primary);
  border: solid 0.15rem var(--outline-variant);
}

.btn-outline:hover {
  background-color: rgba(61, 104, 94, 0.16);
}

.btn-outline:active {
  background: rgba(61, 104, 94, 0.2);
  border: 0.15rem solid var(--outline);
}

.btn-outline:focus {
  background: rgba(61, 104, 94, 0.2);
  border: 0.15rem solid var(--primary);
}

/* text */
.btn-text {
  background-color: transparent;
  color: var(--primary);
}

.btn-text:hover {
  background: rgba(61, 104, 94, 0.16);
}

.btn-text:active {
  background: rgba(61, 104, 94, 0.2);
}

.btn-text:focus {
  background: rgba(61, 104, 94, 0.16);
}
/* elevated */
.btn-elevate {
  background: #eceeed;
  color: var(--primary);
  box-shadow: 0px 8px 12px 4px rgba(96, 119, 114, 0.15),
    0px 4px 4px rgba(101, 94, 112, 0.3);
}

.btn-elevate:hover {
  background: #d8dedd;
}

.btn-elevate:active {
  background: #d0d9d7;
  /* Shadow/s3 */
  box-shadow: 0px 4px 8px 3px rgba(96, 119, 114, 0.15),
    0px 1px 3px rgba(101, 94, 112, 0.3);
}

.btn-elevate:focus {
  background: rgba(61, 104, 94, 0.2);
}
/* tonal */
.btn-tonal {
  background: var(--tertiary-container);
  color: var(--tertiary-on-container);
}

.btn-tonal:hover {
  background: linear-gradient(
      0deg,
      rgba(56, 73, 84, 0.05),
      rgba(56, 73, 84, 0.05)
    ),
    #c6dff0;
}

.btn-tonal:active {
  background: linear-gradient(
      0deg,
      rgba(56, 73, 84, 0.08),
      rgba(56, 73, 84, 0.08)
    ),
    #c6dff0;
}

/* danger */
.btn-danger {
  background: #feecf0;
  color: var(--danger);
}

.btn-danger:hover {
  background: #fdd8e1;
  /**/
}

.btn-danger:active {
  background: #fccfda;
}
