:root {
  --primary: #6750A4;
  --warning: #ffd028;
  --danger: #eb3f27;
  --success: #74fa83;
  --border: #79747E;
}

.btn {
  font-weight: 500;
  border-radius: 100px;
  cursor: pointer;
  transition: border-radius 200ms cubic-bezier(0.2, 0, 0, 1);
}

.btn--primary--fill {
  background-color: var(--primary);
  color: white;
  border: none;
}

/* 
.btn:hover {
  border-radius: 8px;
} */

.btn:active {
  border-radius: 1rem;
}

.btn--primary--outline {
  background-color: transparent;
  color: var(--primary);
  border: solid 1px var(--border);
}

.btn--medium {
  padding: 10px 24px;
  font-size: 14px;
}

.btn--large {
  padding: 15px 30px;
  font-size: 14px;
}