:root {
  --primary: #3d685e;
  --primary-container: #6750a4;
  --primary-on-container: #093830;
  --outline: #79747e;
  --outline-variant: rgba(115, 130, 126, 0.6);
  --white: #f9f9f9;
  --tertiary-container: #c6dff0;
  --tertiary-on-container: #1b2d39;
  --warning: #ffd028;
  --danger: #eb3f27;
  --danger-cont:#FAD1DB;
  --success: #74fa83;
}


th, td {
  text-transform: none;
}