@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "GoogleSans";
    src: url("../public/fonts/GoogleSans-Regular.otf");
    src: url("../public/fonts/GoogleSans-Light.otf");
    src: url("../public/fonts/GoogleSans-Medium.otf");
    src: url("../public/fonts/GoogleSans-Bold.otf");
    src: url("../public/fonts/GoogleSans-Thin.otf");
    src: url("../public/fonts/GoogleSans-Black.otf");
  }